.itemCard {
	display: flex;
  flex: 1 0 33.33%;
	flex-direction: column;
	max-width: 256px;
	width: "100%";
}

.itemCard .item{
  position: relative;
  width: 100%;
  aspect-ratio: 1/1.3;
}

.itemCard .item img{
	object-fit: cover;
}
